services:
  data_processing:
    build:
      context: .
    environment:
      - DATABASE_HOSTNAME=patient_data
      - DATABASE_PORT=5432
      - DATABASE_PASSWORD=mypassword
      - DATABASE_NAME=patientdata
      - DATABASE_USERNAME=postgres
    volumes:
      - ./pipeline/files:/pipeline/files
    depends_on:
      patient_data:
        condition: service_healthy

  patient_data:
      image: postgres
      ports:
        - 5433:5432
      environment:
        - POSTGRES_PASSWORD=mypassword
        - POSTGRES_DB=patientdata
      volumes:
        - ./database:/var/lib/postgresql
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d patientdata"]
        interval: 5s
        timeout: 5s
        retries: 10