services:
  data_processing:
    build:
      context: .
    environment:
      - DATABASE_HOSTNAME=${DATABASE_HOSTNAME}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
    volumes:
      # mount the files folder as a volume
      # this lets us copy files into this directory on the host
      # and have them show up in the container
      - ./pipeline/files:/pipeline/files
    depends_on:
      patient_data:
        condition: service_healthy

  patient_data:
      image: postgres
      ports:
        - 5433:5432
      environment:
        - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
        - POSTGRES_DB=${DATABASE_NAME}
      volumes:
        # mount point for the database data
        - ./database:/var/lib/postgresql
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d patientdata"]
        interval: 5s
        timeout: 5s
        retries: 5
